<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundMusic</key>
	<string>sound/background.mp3</string>
	<key>BackgroundImage</key>
	<string>image/player_background.jpg</string>
	<key>TitleLabel</key>
	<dict>
		<key>Size</key>
		<string>{150.0f, 150.0f}</string>
		<key>Position</key>
		<string>{0.5f, 0.5f}</string>
		<key>Font</key>
		<string>fonts/boundsTestFont.fnt</string>
	</dict>
	<key>PlayButton</key>
	<dict>
		<key>Size</key>
		<string>{160.0f, 80.0f}</string>
		<key>Position</key>
		<string>{0.50f, 0.40f}</string>
	</dict>
</dict>
</plist>
